<app-menu></app-menu>

<table class="student-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Class</th>
      <th>Score</th>
      <th>Status</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students()">
      <td>{{ student.id }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.birthDate }}</td>
      <td>{{ student.className }}</td>
      <td>{{ student.score }}</td>
      <td>{{ student.status }}</td>
      <td><img [src]="student.photoPath" alt="photo" width="50" height="50"></td>
    </tr>
  </tbody>
</table>

<div class="pagination-controls">
  <button (click)="onPagePrevious()" [disabled]="currentPage === 0">Previous</button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button (click)="onPageNext()" [disabled]="currentPage === totalPages - 1">Next</button>
</div>
